#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp F13 &kp F14 &kp F15
                &kp F16 &kp F17 &kp F18
                &kp F19 &kp F20 &mo 1   // Press & hold to access layer 1
            >;
        };

        lower_layer {
            bindings = <
                &bt BT_CLR_ALL &kp N2 &kp N3   // 1st key clears ALL Bluetooth profiles
                &kp N4         &kp N5 &kp N6
                &kp N7         &kp N8 &kp N9
            >;
        };
    };
};