#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp F13   &kp F14   &kp F15
                &kp F16   &kp F17   &kp F18
                &mo 1     &mo 2     &kp F19
            >;
        };

        layer_1 {
            bindings = <
                &bt BT_SEL 0  &out OUT_BLE  &bt BT_CLR
                &kp F32       &kp F24       &kp F25
                &trans        &kp F26       &kp F27
            >;
        };

        layer_2 {
            bindings = <
                &kp F28   &kp F29   &kp F30   
                &kp F31   &kp F32   &kp F33
                &trans    &kp F34   &kp F35   
            >;
        };

    };
};